*{
    margin: 0;
    padding: 0;
    /*background-color: blueviolet;*/
    box-sizing:
    border-box;
    font-family: 'Josefin Sans', sans-serif;
}


.container{
    width: 100%;
    height: 100vh;
    /* margin: 0 0 99% 0; */
    overflow: visible;
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.1)), url('goa.jpg') no-repeat center fixed ;
    /* animation: animate 16s ease-in-out infinite; */

/* @keyframes animate{ 
    0%{
        background-image: url(goa.jpg);
    }
    20%{
        background-image: url(mumbai.jpg);
    }
    40%{
        background-image: url(jaipur.jpg);
    }
    60%{
        background-image: url(varanasi.jpeg);
    }
    80%{
        background-image: url(kerela.jpg);
    }
    100%{
        background-image: url(ladakh.jpg);
    }*/
}

nav{
    position: fixed;
    width: 100%;
    height: 12vh;
    background: rgba(0,0,0,0.5); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    z-index: 1;
}
nav:hover{
    background: rgba(0, 0, 0, 0.767);
}

nav .logo{
    width: 25%;
    text-align: center;
}

nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}

nav .menu a{
    text-decoration: none;
    color: white;
    /* width: 25%; */
    font-size: 16px;
    /* padding: 5px 20px;
    border: 1px solid #fff;*/
    transition: 0.6s ease; 
}

nav .menu a:first-child{
    color: #00b894;
}

nav .menu a:last-child{
    background-color: #fff;

}

.menu a:hover{
    background-color: #fff;
    color: black;
}

main{
    width: 100%;
    height: 85vh;
    /* background-color: #000; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

section{
    margin-top: 15%;
}

section h3{

    font-size: 35px;
    font-weight: 350;
    letter-spacing: 5px;
    text-shadow: 3px 2px 4px black;
}

section h1{
    margin: 40px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 5px 1px 5px black;
    text-transform: uppercase;
}

section p{
    font-size: 25px;
    word-spacing: 2px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0,0,0,0.5);
}

section a{
    padding: 11px 27px;
    /* background-color: #fff; */
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
    outline: none;
    transition: all .5s ease;
}

section .btone{
    background-color: #fff;
    color: black;
}

.btone:hover{
    background-color: #00b894;
    color: #fff;
}

section .bttwo{
    background-color: #00b894;
    color: #fff;
    animation: bgcolor 6s linear infinite;
}

.bttwo:hover{
    background-color: #fff;
    color: black;
}

@keyframes bgcolor{
    0%{
        background-color: #00b894;
    }
    25%{
        background-color: #e6ff08;
    }
    5%{
        background-color: #e94614;
    }
    75%{
        background-color: #25e425;
    }
    100%{
        background-color: #7831c9;
    }
}

.cc::after{
    content: '';
    animation: Changetext 12s infinite linear;
    color: #00b894;
}

@keyframes Changetext{
    0%{content:"Jaipur";}
    20%{content:"Varanasi";}
    40%{content: "Kerela";}
    60%{content: "Ladakh";}
    80%{content: "Goa";}
    100%{content: "Mumbai";}
}

.covidbtn{
    position: relative;
    display: flex;
    justify-content:center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    margin: 200px;
    padding: 15px 10px ;
    /* background-color:#000; */
    letter-spacing: 8px;
    word-spacing: 3px;
    text-transform: uppercase;
    font-size: 30px;
    color: #000;
    overflow: hidden;
    transition: 0.2s;
}

.covidbtn:hover{
    color: #fff;
    background-color:#3e8ecf;
    box-shadow: 0 0 5px #3e8ecf,0 0 20px #3e8ecf,0 0 40px #3e8ecf;
    transition-delay: 1s;
}

.covidbtn span{
    position: absolute;
    display: block;
}

.covidbtn span:nth-child(1){
    top: 0;
    left:-100%;
    width:100%;
    height:3px;
    background:linear-gradient(90deg,transparent,#3e8ecf);
}

.covidbtn:hover span:nth-child(1){
    left: 100%;
    transition: 1s;
}

.covidbtn span:nth-child(3){
    bottom: 0;
    right: -100%;
    width:100%;
    height:3px;
    background:linear-gradient(270deg,transparent,#3e8ecf);
}

.covidbtn:hover span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}

.covidbtn span:nth-child(2){
    top: -100%;
    right: 0;
    width:3px;
    height:100%;
    background:linear-gradient(180deg,transparent,#3e8ecf);
}

.covidbtn:hover span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}

.covidbtn span:nth-child(4){
    bottom: -100%;
    left: 0;
    width:3px;
    height:100%;
    background:linear-gradient(360deg,transparent,#3e8ecf);
}

.covidbtn:hover span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}

/* search */

.search_img img{
    width: 100%;
    height: 400px;
    margin-top: -8%;
    /* background: no-repeat center fixed; */
    filter: blur(1px);
    
}

.search_bar{
    font-family: 'Playfair Display', serif;
    /* z-index: 1; */
    position: absolute;
    top: 170%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.btn a img {
    width: 30px;
    height: 30px;
}

input{
    position: relative;
    border: 2px solid #000;
    height: 40px;
    width: 500px;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Sansita Swashed', cursive;
}

.btn{
    /* z-index: 1; */
    position: absolute;
    top: 10%;
    left: 87%;
    color: black;
}

/* gallery */

.galleryy{
    width: 100%;
    height: 700px;
}

.galleryy h3{
    text-transform: uppercase;
    margin-top: 2cm;
    margin-left: 14cm;
    margin-bottom: 0.5cmk;
    font-size: 50px;
    letter-spacing: 5px;
    color: #0B0E16;
    line-height: 1.3em;
}

.galleryContainer{
    width: 100%;
    height: 550px;
    max-width: 850px;
    margin: auto;
    user-select: none;
    box-shadow: 0px 0px 3px 1px #00000078;
    padding: 10px;
    box-sizing: border-box;
}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 90%;
    overflow: hidden;
    background-color: gainsboro;
    position: relative;
}
.galleryContainer .slideShowContainer #playPause{
    width: 32px;
    height: 32px;
    position: absolute;
    background-image: url("images/playPause.png");
    background-repeat: no-repeat;
    z-index: 5;
    background-size: cover;
    margin: 5px;
    cursor: pointer;
}
.galleryContainer .slideShowContainer #playPause:hover{
    opacity: .7;
}
.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}
.galleryContainer .slideShowContainer .imageHolder .captionText{
    display: none;
}

.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}

.galleryContainer .slideShowContainer>.captionTextHolder{
    position: absolute;
    bottom: 0;
    z-index: 1;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    width: 100%;
    background: #00000047;
    height: 50px;
    line-height: 50px;
    overflow: hidden;
}
.galleryContainer .slideShowContainer>.captionTextHolder>.captionText{
    margin: 0;
}

.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #bbb;
    cursor: pointer;
    transition:background-color 0.5s;
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}

.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}
.slideTextFromBottom {
    animation-name: slideTextFromBottom;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromBottom {
    from {opacity: 0;margin-top: 100px}
    to {opacity: 1;margin-top: 0px;}
}
.slideTextFromTop {
    animation-name: slideTextFromTop;
    animation-duration: 0.7s;
    animation-timing-function: ease-out;
}
@keyframes slideTextFromTop {
    from {opacity: 0;margin-top: -100px}
    to {opacity: 1;margin-top: 0px;}
}

/* Login-form */

.hero{
    height:700px;
    width: 100%;
    /* background-color: aqua; */
    position: absolute;
}

.form-box{
    width: 400px;
    height: 480px;
    margin: 8% auto;
    background: rgba(224, 221, 221, 0.541);
    padding: 5px;
    position: relative; 
    overflow: hidden;
    box-shadow: 0px 0px 3px 1px #d3d3d3a8;
}

.button-box{
    width: 235px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient( to right, #00b894, #ffad06);
    border-radius: 30px;
    transition: .3s;
}

.social-icons{
    margin: 30px auto;
    text-align: center;
}

.social-icons img{
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width:100%;
    padding: 10px 0;
    margin: 5px 0;
    border-bottom: 1px solid #999;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin-top: 1.4cm;
    background: linear-gradient(to right,#00b894,#ffad06);
    border: 0;
    outline: none;
    border-radius: 30px; 
}

#login{
    left: 50px;
}

#register{
    left: 450px;
}

#learn-more{
    width: 100%;
    height: 500px;
    /* background-color: #000; */
    background: url("images/instagram.png") no-repeat center; 
}

.footer{
    width:100%;
    height: 250px;
    margin-top: 70cm;
    background: rgba(129, 126, 126, 0.363);
    box-shadow: 0px 0px 8px 2px #000000a8;
}

.mera-bharat{
    position: relative;
    /* background-color: #8888; */
    height: 60px;
    width: 650px;
    margin-left: 10cm;
    top: .5cm;
}

.mera-bharat h1{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    word-spacing: 35px;
    text-decoration: none;
    padding-top: .3cm;
}

.menu1{
    /* background-color: blue; */
    height: 25px;
    width: 1000px;
    margin-left: 5.5cm;
    padding-top: 5%;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    cursor: pointer;
    text-transform: uppercase;
}

.menu1 a{
    text-decoration: none;
    color: black;
}

.last-bar{
    height:56px;
    width: 100%;
    background-color: rgba(7, 7, 7, 0.904);
    margin-top: 2cm;
}

.last-bar p{
    color: #fff;
    padding: 23px 460px;
    word-spacing: 2px;
}
