{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tourism</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
    {% comment %} <style>
        #imageHolder p{
            text-align: right;

        }

    </style> {% endcomment %}

</head>

<body>
    <header class="container">
        <!-- <div id="slideout">
            <div class="menu">
                <a href="#">Home</a>
                <a href="#">Gallery</a>
                <a href="#">About Us</a>
                <a href="#">Contact</a>
            </div>
        </div> -->
        <nav>
            <div class="logo">
                <h1 class="animate__animated animate__bounce">Mera Bharat</h1>
            </div>
            <div class="menu">
                <a href="{% url 'index' %}">Home</a>
                <!--<a href="{% url 'destinations' %}">Places</a>-->
                <a href="#gallery">Gallery</a>
                <a href="{% url 'abt' %}">About Us</a>
                <a href="{% url 'cont' %}">Contact</a>
                {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                        <h1> Welcome {{ request.user.username }} </h1>
                        {% else %}
                            <a href="{% url 'Login' %}"><img src="{% static 'images/user-solid.svg' %}" width="25" height="22" alt=""></a>
                {% endif %}
                
                <!-- <div id="Search-icon">
                    <input type="Search" placeholder="Search Here....">
                    <a href="#">
                    <i class="fa fa-search"></i>
                    </a>
                </div> -->
            </div>
        </nav>
        <main>
            <section>
                <h3>Welcome To India</h3>
                <h1>DO COME & VISIT <span class="cc"></span></h1>
                <p>"India once is not enough"</p>
                <a href="{% url 'destinations' %}" class="btone">famous</a>
                <a href="#search" class="bttwo">Search your Place</a>
            </section>
        </main>
        <a href="{% url 'covid' %}" class="covidbtn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Covid safety guidlines
        </a>
        <div class="search_img" id="search">
            <img src="{%static 'images/s1.jpg' %}" alt="">
            <div class="search_bar">
                <input type="text" placeholder="Search via State, City or Destination..." >
                <div class="btn">
                    <a href="#"><img src="{% static 'images/search-solid.svg' %}" alt=""></a>
                </div>
            </div>
        </div>
        <div class="galleryy" id="gallery">
            <h3>gallery</h3>
            <div class="galleryContainer">
                <div class="slideShowContainer">
                    <div id="playPause" onclick="playPauseSlides()"></div>
                    <div onclick="plusSlides(-1)" class="nextPrevBtn leftArrow"><span class="arrow arrowLeft"></span>
                    </div>
                    <div onclick="plusSlides(1)" class="nextPrevBtn rightArrow"><span class="arrow arrowRight"></span>
                    </div>
                    <div class="captionTextHolder">
                        <p class="captionText slideTextFromTop"></p>
                    </div>
                    {% for i in places %}
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">{{ i.Price }}</div>
                        <img src="{{i.prod_img.url}}">
                        <p class="captionText">{{ i.title }}</p>
                    </div>
                    {% endfor %}
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.5999</div>
                        <img src="{%static 'images/img1.jpg' %}">
                        <p class="captionText">Hill Forts Of Rajasthan</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.6499</div>
                        <img src="{%static 'images/img2.jpg' %}">
                        <p class="captionText">Living root bridges of Meghalaya</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.7999</div>
                        <img src="{%static 'images/img3.jpg' %}">
                        <p class="captionText">Nurba Valley</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.5999</div>
                        <img src="{%static 'images/img4.jpeg' %}">
                        <p class="captionText">Varanasi Ghats</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.8999</div>
                        <img src="{%static 'images/img5.jpg' %}">
                        <p class="captionText">Jaipur-The Pink City</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.9499</div>
                        <img src="{%static 'images/img6.jpg' %}">
                        <p class="captionText">Kerela</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.9999</div>
                        <img src="{%static 'images/img7.jpg' %}">
                        <p class="captionText">Mumbai</p>
                    </div>
                    <div class="imageHolder">
                        <div style="color:black; text-align:right;font-size:2vw;background-color:white;height:40px">Rs.8999</div>
                        <img src="{%static 'images/img9.jpg' %}">
                        <p class="captionText">Taj Mahal- AGRA</p>
                    </div>
                    <div id="dotsContainer"></div>

                </div>

            </div>

        </div>
        <!-- Login-form and sign up -->
        <div class="hero" id="signup">
            <div class="form-box">
                <div class="button-box">
                    <div id="btn"></div>
                    <button type="button" class="toggle-btn" onclick="login()">Log In</button>
                    <button type="button" class="toggle-btn" onclick="register()">Register</button>
                </div>
                <div class="social-icons">
                    <a href="https://www.facebook.com/"> <img src="{%static 'images/fb.png' %}" alt=""></a>
                    <a href="https://www.google.com/"> <img src="{%static 'images/gp.png' %}" alt=""></a>
                    <a href="https://twitter.com/login?lang=en"><img src="{%static 'images/tw.png' %}" alt=""></a>
                </div>
                <form  action="Login" method='POST' id="login" class="input-group">
                    {% csrf_token %}
                    <input id="username" type="text" class="input-field" placeholder="User Id " name='username' required>
                    <input type="password" class="input-field" placeholder="Enter Password" name='password' required>
                    <button type="submit" class="submit-btn">Log-In</button>
                </form>
                <form  action="register" method='POST' id="register" class="input-group">
                    {% csrf_token %}
                    <input id="userid" type="text" class="input-field" placeholder="User Id" name = 'username' required>
                    <input type="email" class="input-field" placeholder="E-mail Id " name='email' required>
                    <input type="password" class="input-field" id="password" placeholder="Enter Password" name='password' required>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
            <div id="learn-more">

            </div>
        </div>
    </header>
    <div class="footer" id="foot">
        <div class="mera-bharat">
            <h1>mera bharat</h1>
        </div>
        <div class="menu1">
            <a href="{% url 'index' %}">Home</a>
            <a href="#gallery">Gallery</a>
            <a href="abt.html">About Us</a>
            <a href="cont.html">Contact</a>
            <a href="#search">Search</a>
        </div>
        <div class="last-bar">
            <p>Copyright @Mera-Bharat Team 2020. All right Reserved.</p>
        </div>
    </div>
    <script>
        
var slideIndex,slides,dots,captionText;
function initGallery(){
    slideIndex = 0;
    slides=document.getElementsByClassName("imageHolder");
    slides[slideIndex].style.opacity=1;

    captionText=document.querySelector(".captionTextHolder .captionText");
    captionText.innerText=slides[slideIndex].querySelector(".captionText").innerText;

    if(slides.length<2){
        var nextPrevBtns=document.querySelector(".leftArrow,.rightArrow");
        nextPrevBtns.style.display="none";
        for (i = 0; i < nextPrevBtn.length; i++) {
            nextPrevBtn[i].style.display="none";
        }
    }

    dots=[];
    var dotsContainer=document.getElementById("dotsContainer"),i;
    for (i = 0; i < slides.length; i++) {
        var dot=document.createElement("span");
        dot.classList.add("dots");
        dotsContainer.append(dot);
        dot.setAttribute("onclick","moveSlide("+i+")");
        dots.push(dot);
    }
    dots[slideIndex].classList.add("active");
}
initGallery();
function plusSlides(n) {
    moveSlide(slideIndex+n);
}
function moveSlide(n){
    var i;
    var current,next;
    var moveSlideAnimClass={
          forCurrent:"",
          forNext:""
    };
    var slideTextAnimClass;
    if(n>slideIndex) {
        if(n >= slides.length){n=0;}
        moveSlideAnimClass.forCurrent="moveLeftCurrentSlide";
        moveSlideAnimClass.forNext="moveLeftNextSlide";
        slideTextAnimClass="slideTextFromTop";
    }else if(n<slideIndex){
        if(n<0){n=slides.length-1;}
        moveSlideAnimClass.forCurrent="moveRightCurrentSlide";
        moveSlideAnimClass.forNext="moveRightPrevSlide";
        slideTextAnimClass="slideTextFromBottom";
    }

    if(n!=slideIndex){
        next = slides[n];
        current=slides[slideIndex];
        for (i = 0; i < slides.length; i++) {
            slides[i].className = "imageHolder";
            slides[i].style.opacity=0;
            dots[i].classList.remove("active");
        }
        current.classList.add(moveSlideAnimClass.forCurrent);
        next.classList.add(moveSlideAnimClass.forNext);
        dots[n].classList.add("active");
        slideIndex=n;
        captionText.style.display="none";
        captionText.className="captionText "+slideTextAnimClass;
        captionText.innerText=slides[n].querySelector(".captionText").innerText;
        captionText.style.display="block";
    }

}
var timer=null;
function setTimer(){
    timer=setInterval(function () {
        plusSlides(1) ;
    },3000);
}
setTimer();
function playPauseSlides() {
    var playPauseBtn=document.getElementById("playPause");
    if(timer==null){
        setTimer();
        playPauseBtn.style.backgroundPositionY="0px"
    }else{
        clearInterval(timer);
        timer=null;
        playPauseBtn.style.backgroundPositionY="-33px"
    }
}

var x=document.getElementById("login");
var y=document.getElementById("register");
var z=document.getElementById("btn");
function register() {
    x.style.left ="-400px";
    y.style.left ="50px";
    z.style.left ="110px";
}
function login() {
    x.style.left ="50px";
    y.style.left ="450px";
    z.style.left ="0";
}

document.querySelector('#username').value
document.querySelectorAll('#login input')
Array.from(document.querySelectorAll('#login input')).reduce((acc,input) => ({...acc,[input.id]: input.value}),{});

document.querySelector('#userid').value
document.querySelectorAll('#register input')
Array.from(document.querySelectorAll('#register input')).reduce((acc,input) => ({...acc,[input.id]: input.value}),{});

    </script>
    <noscript>nhi chlra bhaiya, update maro</noscript>
</body>

</html>